
    <link rel="stylesheet" href="./css/navbar.css">

    <div class="nav">
        <div class="logo">
            Ramveer
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registration</a></li>
            </ul>
        </nav>
    </div>
